<%- include("header"); -%>

<h2>About To Do List</h2>

<p> Well, this is a page mainly created by me while understanding of EJS & its 
    practical approach.
</p>

<h2>Thank You.</h2>

<%- include("footer"); -%>